@import "tailwindcss";
@theme {
  --color-main-sidebar: #121212;
  --color-inner-bg: #1e1e1e;
  --color-acive-convo: #2a2a2a;
  --color-border-glow: #522e58;
  --color-user-bubble: #5f45e3;
  --color-chats: #121212;
  --color-pri-text: #ffffff;
  --color-sec-text: #bdbdbd;
}

@layer base {
  svg {
    @apply size-6 text-blue-700 cursor-pointer;
  }
  body {
    @apply text-gray-50 font-sans;
  }
}
