@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@plugin 'tailwind-scrollbar';

@theme {
  --color-main-sidebar: #121212;
  --color-inner-bg: #1e1e1e;
  --color-acive-convo: #2a2a2a;
  --color-border-glow: #522e58;
  --color-user-bubble: #5f45e3;
  --color-chats: #121212;
  --color-pri-text: #ffffff;
  --color-sec-text: #bdbdbd;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  svg {
    @apply size-6 text-pri-text cursor-pointer;
  }
  body {
    @apply text-pri-text text-[15px] font-inter;
  }
  html {
    @apply scrollbar-track-chats scrollbar-thumb-gray-600;
  }
}
